name: Full CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -
       name: Checkout the repo
       uses: actions/checkout@v3

      - name: Run Gitleaks (JSON output)
        run: |
          docker run --rm \
            -v "$PWD:/repo" \
            zricethezav/gitleaks:latest \
            detect \
            --source /repo \
            --config /repo/.gitleaks.toml \
            --report-format json \
            --report-path /repo/gitleaks.json \
            --exit-code 0
        continue-on-error: true


      - name: Install Semgrep
        run: |
          pip install semgrep

      - name: Run Semgrep Scan
        run: |
          semgrep --config p/ci --error

      - name: Build an image from Dockerfile
        run: docker build -t docker.io/taiwrash/zeroentropy-demo-by-taiwrash:latest .
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'docker.io/taiwrash/zeroentropy-demo-by-taiwrash:latest'
          format: json
          output: trivy.json
        continue-on-error: true


  build:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/zeroentropy-demo-by-taiwrash:latest
          platforms: linux/amd64,linux/arm64


